<html>
  <head>
    <style>
      h1{
        text-align: center;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:whitesmoke;
        background-color: darkcyan;
        height: 90px;
        border-bottom-style: double;
      }
      body{
        background-color: grey;
        border-radius: 350px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
      }
    </style>
  </head>
  <body>
    <h1><br>HEALTH DOMAINS</h1>
    <mat-card class = "e1" type="submit" style="display:inherit"routerLink='/docs'> 
      <mat-card-title>Cardiologist</mat-card-title>
      <mat-card-content>A cardiologist is a doctor that deals with the cardiovascular system. This means he or she treats any abnormality in our blood vessels and heart.</mat-card-content>
    </mat-card>
    <mat-card class ="e2" type="submit" style="display:inherit"routerLink='/docs'>
      <mat-card-title>Audiologist</mat-card-title>
      <mat-card-content>As the name suggests, an audiologist treats and evaluates anything and everything to do with audio or hearing abilities of a person.</mat-card-content>
    </mat-card>
    <mat-card class ="e3" type="submit" style="display:inherit"routerLink='/docs'>
      <mat-card-title>Dentist</mat-card-title>
      <mat-card-content>A dentist is a doctor of oral health. Oral health includes teeth, tongue and gums. A dentist is known to diagnose and treat issues of these three areas.</mat-card-content>
    </mat-card>
    <mat-card class ="e4" type="submit" style="display:inherit"routerLink='/docs'>
     <mat-card-title>ENT specialist</mat-card-title>
     <mat-card-content> ENT stands for ear, nose and throat. A specialist who treats and diagnoses the issues and troubles of these three areas. </mat-card-content>
    </mat-card>
    <mat-card class ="e5" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Gynaecologist</mat-card-title>
        <mat-card-content>A gynaecologist is trained to treat the female reproductive system which includes the vagina, uterus, ovaries and breasts.</mat-card-content>
    </mat-card>
    <mat-card class ="e6" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Orthopaedic surgeon</mat-card-title>
        <mat-card-content>An orthopaedic surgeon is known to deal with issues relating to the musculoskeletal system. This means muscles and bones.</mat-card-content>
    </mat-card>
    <mat-card class ="e7" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Paediatrician</mat-card-title>
        <mat-card-content>Paediatricians are doctors who treat children. Since a child’s body functions in a different manner from ours, due to many factors like age and growing stages.</mat-card-content>
    </mat-card>
    <mat-card class ="e8" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Psychiatrists</mat-card-title>
        <mat-card-content>Mental health is a vast field which requires our uttermost attention. Therefore, to treat what goes inside a human brain is difficult, due to the uncertainty of it.</mat-card-content>
    </mat-card>
    <mat-card class ="e9" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Veterinarian</mat-card-title>
        <mat-card-content>After the uniqueness of mental health, comes the issue of our furr buddies: animals. Treatment and diagnosis of issues in animals is done by a veterinarian.</mat-card-content>
    </mat-card>
    <mat-card class ="e10" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Radiologist</mat-card-title>
        <mat-card-content>A radiologist for diagnosing diseases and internal & external injuries with the help of imaging techniques like x-rays, CT scan, MRI and ultrasound etc.</mat-card-content>
    </mat-card>
    <mat-card class ="e11" type="submit" style="display:inherit"routerLink='/docs'>
       <mat-card-title>Pulmonologist</mat-card-title>
       <mat-card-content>Pulmonary means lungs, hence a doctor who treats lungs. Since the list of abnormalities and issues relating to lungs is long in modern times, a pulmonologist helps diagnose.</mat-card-content>
    </mat-card>
    <mat-card class ="e12" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Endocrinologist</mat-card-title>
        <mat-card-content>An endocrinologist is responsible for treating the endocrine system which includes the pituitary gland, pancreas, ovaries, thyroid, hypothalamus etc.</mat-card-content>
    </mat-card>
    <mat-card class ="e13" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Oncologist</mat-card-title>
        <mat-card-content>Oncology involves the study of all types of cancers. This involves the radiation, medical and surgical. Oncologists can specialise in one type of cancer as well as the field is vast.</mat-card-content>
    </mat-card>
    <mat-card class ="e14" type="submit" style="display:inherit"routerLink='/docs'>
       <mat-card-title>Neurologist</mat-card-title>
       <mat-card-content>As the name suggests, a neurologist is responsible for treating and diagnosing issues of the nervous system. Our nervous system includes our brain, spinal cord, sensory organs, and all the nerves.
    </mat-card-content>
    </mat-card>
    <mat-card class ="e15" type="submit" style="display:inherit"routerLink='/docs'>
        <mat-card-title>Cardiothoracic surgeon</mat-card-title>
        <mat-card-content>Thorax means the chest. A cardiothoracic surgeon treats conditions of the heart, lungs, oesophagus and other organs in the chest.</mat-card-content>
    </mat-card>
    <mat-card class = "e16">CLICK ON THE CARD ACCORDINGLY TO CONSULT YOUR DOCTOR.</mat-card>
  </body>
</html>
<router-outlet></router-outlet>
