<html>
    <head>
        <style>
            body{
                background-color: indigo;
                
            }
            h1{
                background-color:white;
                color: black;
                text-align: center;
                font-family: Georgia, 'Times New Roman', Times, serif;
                height:250px;
                font-size: 60px;
                border-radius: 90px;
            }
        </style>
    </head>
    <body>
        <br>
        <h1><br>
            EVERY NEEDLE COUNTS!<br><br>
            <img src = "https://w7.pngwing.com/pngs/258/58/png-transparent-sewing-needle-drawing-cartoon-cartoon-hand-drawing-needle-cartoon-character-text-hand.png"width = 150px height = 150px>
        </h1>
        <div id="map"></div>
        <div class = "button1">
            <button type="submit" style="display: inherit;background-color:goldenrod;" class="b1" routerLink='/domain'>NEEDLE HUNT!</button>
        </div>
    </body>
</html>
<router-outlet></router-outlet>